body {
    background-color: #fbfbf8;
}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
}

h4 {
    text-align: center;
}

section.page-header {
    background-image: url('Images/BackgroundImage.png');
    background-size: cover;
    height: 200px;
    padding-top: 65px;
}

section.page-body {
    margin: 50px 300px;
}

section.indiv-project {
    margin:50px 50px
}

img.breeze-pics {
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
